[tool.poetry]
name = "flirpy"
version = "0.0.8"
description = "Flirpy is a Python library for controlling thermal imaging cameras"
authors = ["Josh Veitch-Michaelis <j.veitchmichaelis@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.5"
pyserial = "^3.4"
tqdm = "^4.42"
opencv-python-headless = "^4.2"
pyudev = "^0.22.0"
psutil = "^5.6.7"

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pytest-cov = "^2.8"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
